<section id="header">
  <div class="container">

    <!-- Logo -->
      <div>
        <!--	<img src="images/hvac_logo_v3_opt2.svg" alt="flame in circle" style="width: 15%; height: auto;"> -->
        <h1><a href="index.html">HVAC &amp; Industrial Controls Co.</a></h1>
        <p>Specializing in Pressure & Temperature Controls & Instruments</p>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="index.html" class="icon solid fa-home"><span>Home</span></a></li>
          <li><a href="contact.html" class="icon fa-address-card"><span>Contact Us</span></a></li>
          <li>
            <a href="tb-overview.html" class="icon solid fa-tachometer-alt"> <span>Tank Blanketing</span></a>
            <ul>
              <li><a href="tb-overview.html">Overview</a></li>
              <li><a href="tb-abs.html">Appalachian Blanketing Systems</a></li>
              <li><a href="tb-ac-hist.html">Appalachian Controls, a history</a></li>
            </ul>
          </li>
          <li><a href="products.html" class="icon solid fa-cog"><span>Products</span></a></li>
        </ul>
      </nav>

  </div>
</section>